#parent{
    display: flex;
    border: 2px solid blueviolet;
}

.one{
    height: 100px;
    width: 100px;
    background-color: black;
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
}

.two{
    height: 100px;
    width: 100px;
    background-color: rgb(174, 50, 50);
    flex-shrink: 2;
}

.three{
    height: 100px;
    width: 100px;
    background-color: rgb(17, 54, 178);
    flex-shrink: 4;
}

.four{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 188, 17);
    flex-grow: 1;
}

